<!-- Jumbotron
================================================== -->
<div id="jumbotron" class="jumbotron odd background" data-ride="carousel">
  <div class="container">
    <img src="img/logo.png" class="logo"></img>
    <h1>Build good habits effortlessly.</h1>
    <div class="cta-image-container">
      <div class="cta-button-container">
        <h3>
          A habit becomes effortless when done every day. Pledge money to never
          slip twice and reap the rewards of a better life.
        </h3>
        <button id="challenge-me-button" type="button" class="p1" data-toggle="modal" data-target="#signup-modal">
          Challenge me!
          <img class="pointer" src="img/arrow.png">
        </button>
      </div>
      <img src="img/mockups.png" class="mockups"></img>
    </div>
  </div>
</div><!-- /.Jumbotron -->

<!-- Featured Challenges
================================================== -->
<div class="even background" data-ride="carousel">
  <div class="container">
    <h2>Featured Challenges</h2>
    <h3>Choose choose one of our beginner challenges and join others on the
    journey to mastering habits.</h3>
    
    <div class="row">
      
      {{#each challenges}}
      {{#with this}}
      <div class="challenge-card-container">
        <div class="challenge-card">
          <div class="image-wrapper">
            <div class="image" style="background-image: url('img/{{image}}');">
              <div class="overlay-text">
                <h2>{{title}}</h2>
                <h3>Challenge</h3>
              </div>
            </div>
          </div>
          <div class="stats">
            <div class="row">
              <p class="number"><img src="img/members.png"/>{{members}}</p>
              <p class="number-label">Members</p>
            </div>
            <div class="row">
              <p class="number"><img src="img/success.png"/>{{success}}</p>
              <p class="number-label">Success</p>
            </div>
            <div class="row">
              <p class="number"><img src="img/days.png"/>{{days}}</p>
              <p class="number-label">Days</p>
            </div>
          </div>

        </div>
      </div>
      {{/with}}
      {{/each}}

    </div><!-- /.row -->
    
    <button class="p2" type="button" data-toggle="modal" data-target="#signup-modal">Get started now.</button>      

  </div>
</div><!-- /.Featured Challenges -->

<!-- Benefits
================================================== -->
<div class="odd background" data-ride="carousel">
  <div class="container">
    <h2>How Incented works</h2>
    <h3>Incented connects you with the habit science, so you can
    concentrate on changing yourself, the easy way.</h3>
    <div class="row">
      <div class="benefit">
        <img src="img/focus.png">
        <h2>Focus</h2>
        <p>Take it one tiny habit at a time towards mastering your life.
        Simply focus on starting each day.</p>
      </div>
      <div class="benefit">
        <img src="img/accountability.png">
        <h2>Accountability</h2>
        <p>Make sure you are accountable by snapping a quick photo-proof of
        your success and getting it verified.</p>
      </div>
      <div class="benefit">
        <img src="img/reward.png">
        <h2>Reward</h2>
        <p>Earn real rewards when you bet money to triple your likelihood
        of sticking. </p>
      </div>
    </div>
  </div>
</div><!-- /.Benefits -->

<!-- Quote
================================================== -->
<div class="even background" data-ride="carousel">
  <div class="container">
    <blockquote> 
      <p>
      The thought of losing money certainly works. I've never been very
      good at mornings, but since starting the Wake Up Challenge I've
      managed to go for a run and be ready for the day before 9am, and
      sometimes by 8. It's been a fantastic wake-up call, I'm looking
      forward to pushing through to making it a habit!
      </p>
      <cite>
        <div class="image" style="background-image:url('img/bryn.png')">
        </div>
        <div class="name">
          <h2>Brynmore Pickering</h2>
          <h3>Engineering PhD.</h3>
        </div>
      </cite>
    </blockquote>
      
  </div>
</div><!-- /.Quote -->

<!-- Final CTA
================================================== -->
<div class="odd background" data-ride="carousel">
  <div class="container">
    <h2>Want to build a good habit?</h2>
      <button type="button" class="p2" data-toggle="modal" data-target="#signup-modal">
        Challenge me!
      </button>
  </div>
</div><!-- /.Final CTA -->

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="signup-form form-1">
        <h2><strong>Incented</strong> is coming soon.</h2>
        <h3>Sign-up and be the first to get early access.</h3>
        <form data-toggle="validator" class="email-signup">
          
          <div class="form-group">
            <input type="text" id="name" name="name"
            placeholder="Name" 
            pattern="^([ A-z])*$" required
            data-error="Your name should only use alphabetic characters." >
            <span class="help-block with-errors"></span>
          </div>

          <div class="form-group">
            <input type="email" id="email" name="email"
            placeholder="Email address" 
            data-error="Please enter a valid email address." required>
            <span class="help-block with-errors"></span>
          </div>

          <div class="form-group has-error">
            <div class="error-block help-block"></div>
          </div>
          
          <button type="submit" class="btn btn-primary">Signup</button>
        </form>
      </div>

      <div class="signup-form form-2">
        <h2>What habit do you want to build?</h2>
        <h3>Register your interest in a habit.</h3>
        <form>
          <div class="row">

            {{#each challenges}}
            {{#with this}}
            <div class="challenge-card-container small">
              <div class="challenge-card small selectable" data-select-id="{{id}}">
                <div class="overlay">
                  <div class="tick">✔</div>
                </div>
                <div class="image-wrapper">
                  <div class="image" style="background-image: url('img/{{image}}');">
                    <div class="overlay-text">
                      <h2>{{title}}</h2>
                      <h3>Challenge</h3>
                    </div>
                  </div>
                </div>
                <div class="stats">
                  <div class="row">
                    <p class="number"><img src="img/members.png"/>{{members}}</p>
                    <p class="number-label">Members</p>
                  </div>
                  <div class="row">
                    <p class="number"><img src="img/success.png"/>{{success}}</p>
                    <p class="number-label">Success</p>
                  </div>
                  <div class="row">
                    <p class="number"><img src="img/days.png"/>{{days}}</p>
                    <p class="number-label">Days</p>
                  </div>
                </div>

              </div>
            </div>
            {{/with}}
            {{/each}}

          </div><!-- /.row -->

          <select name="habits" class="selector" multiple>
            <option value="wake-up-challenge"></option>
            <option value="get-out-challenge"></option>
            <option value="running-challenge"></option>
          </select>

          <div>
            <input name="extra_habits" type="text" class="tag-input" value="" data-role="tagsinput" placeholder="e.g. healthy eating, meditation...">
          </div>
          
          <button type="submit" class="btn btn-primary">Finish</button>
        </form>
      </div>

      <div class="signup-form form-3">
        <h2>Thank you for your interest.</h2>
        <h3>Share <strong>Incent</strong> with your friends. Building habits is better together.</h3>
      </div>
      
    </div>
  </div>
</div>
