<!-- Jumbotron
================================================== -->
<div id="jumbotron" class="jumbotron odd background" data-ride="carousel">
  <div class="container">

    <img src="img/logo.png" class="logo"></img>

    <h1>A community of habit hackers.</h1>

    <h3>
      Join one of our meetups and we will help you stick to your habits <strong>effortlessly</strong>.    
    </h3>

    <div class="cards">
      
      {{#each challenges}}
      {{#with this}}
      <div class="challenge-card-container">
        <div class="challenge-card selected">

          {{#unless exists}}
          <div class="overlay">
            <div class="tick">?</div>
          </div>
          {{/unless}}

          <div class="image-wrapper">
            <div class="image" style="background-image: url('img/{{image}}');">
              <div class="overlay-text">
                <h2>{{title}}</h2>
              </div>
            </div>
          </div>
          
          {{#if exists}}
          <div class="stats">
            <p class="number"><img src="img/members.png"/>{{members}}</p>
            <p class="number-label">Members</p>
          </div>
          {{else}}
          <div class="stats coming-soon">
            <p>Coming soon...</p>
          </div>
          {{/if}}

        </div>
      </div>
      {{/with}}
      {{/each}}

    </div><!-- /.row -->

    <section class="cta">
      <p>Find out when the next meetup is...</p>
      <button id="challenge-me-button" type="button" class="p1 fst-cta" data-toggle="modal" data-target="#signup-modal">
        Sign up <strong>now</strong>.
      </button>
    </section>

  </div>
</div><!-- /.Jumbotron -->

<!-- Benefits
================================================== -->
<div class="light background" data-ride="carousel">
  <div class="container">
    <h2>How does it work?</h2>
    <div class="benefit-row">
      <div class="benefit">
        <h3>Commit</h3>
        <p>Find a support group in your area and stay accountable in-person and online.</p>
      </div>
      <div class="benefit">
        <h3>Learn</h3>
        <p>We share advice and experience with each other as we go through the process together.</p>
      </div>
      <div class="benefit">
        <h3>Celebrate</h3>
        <p>It's a tough journey. Track your progress and share with the group.</p>
      </div>
    </div>
  </div>
</div><!-- /.Benefits -->

<!-- Quote
================================================== -->
<div class="dark background" data-ride="carousel">
  <div class="container">
    <blockquote> 
      <p>
I've never been very good at mornings, being ready for the day always took at least an hour! I joined for an incentive to jump out of bed when the alarm goes off. Now I actually grab breakfast straight away, instead of rationalising just going back for a 'few more minutes' of sleep. 
      </p>
      <cite>
        <div class="image" style="background-image:url('img/bryn.png')">
        </div>
        <div class="name">
          <h2>Brynmore Pickering</h2>
          <h3>Engineering PhD.</h3>
        </div>
      </cite>
    </blockquote>
      
  </div>
</div><!-- /.Quote -->

<!-- Final CTA
================================================== -->
<div class="odd background" data-ride="carousel">
  <div class="container">
    <h2>Ready to build a better you?</h2>
      <button type="button" class="p2 snd-cta" data-toggle="modal" data-target="#signup-modal">
        Sign up <strong>now</strong>.
      </button>
  </div>
</div><!-- /.Final CTA -->

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="signup-form form-1">
        <h2>Join an <em>Incented</em> meetup near you.</h2>
        <h3>Sign-up to get an invite to the next meetup in your area.</h3>
        <form data-toggle="validator" class="email-signup">
          
          <div class="form-group">
            <input type="text" id="name" name="name"
            placeholder="Name" 
            pattern="^([ A-z])*$" required
            data-error="Your name should only use alphabetic characters." >
            <span class="help-block with-errors"></span>
          </div>

          <div class="form-group">
            <input type="email" id="email" name="email"
            placeholder="Email address" 
            data-error="Please enter a valid email address." required>
            <span class="help-block with-errors"></span>
          </div>

          <div class="form-group has-error">
            <div class="error-block help-block"></div>
          </div>
          
          <button type="submit" class="btn btn-primary">Signup</button>
        </form>
      </div>

      <div class="signup-form form-2">
        <h2>Were are you based?</h2>
        <h3>We are currently in the following locations:</h3>
        <form>
          <div class="row">

            {{#each challenges}}
            {{#with this}}
            <div class="challenge-card-container small">
              <div class="challenge-card small selectable" data-select-id="{{id}}">
                <div class="overlay">
                  <div class="tick">✔</div>
                </div>
                <div class="image-wrapper">
                  <div class="image" style="background-image: url('img/{{image}}');">
                    <div class="overlay-text">
                      <h2>{{title}}</h2>
                    </div>
                  </div>
                </div>
                {{#if exists}}
                <div class="stats">
                  <p class="number"><img src="img/members.png"/>{{members}}</p>
                  <p class="number-label">Members</p>
                </div>
                {{else}}
                <div class="stats coming-soon">
                  <p>Register interest.</p>
                </div>
                {{/if}}

              </div>
            </div>
            {{/with}}
            {{/each}}

          </div><!-- /.row -->

          <select name="location" class="selector" multiple>
            {{#each challenges}}
            {{#with this}}
            <option value="{{id}}"></option>
            {{/with}}
            {{/each}}
          </select>

          <div class="form-group other-cities">
            <label>Where would you like us to come next?</label>
            <input name="other_locations" type="text" class="tag-input" value="" data-role="tagsinput" placeholder="e.g. Bristol, Berlin, San Francisco...">
          </div>

          <div class="form-group">
            <label>What habits do you want to build?</label>
            <input name="extra_habits" type="text" class="tag-input" value="" data-role="tagsinput" placeholder="e.g. healthy eating, meditation...">
          </div>
          
          <button type="submit" class="btn btn-primary">Finish</button>
        </form>
      </div>

      <div class="signup-form form-3">
        <h2>Thank you for signing up.</h2>
        
        <h3>You will here from us shortly.</h3>
        <h3>Share <strong>Incent</strong> with your friends. Building habits is better together.</h3>
        
        <div class="share">
          <a class="facebook active" href="https://www.facebook.com/pages/Incented/791065067643936">
          </a>
          <a class="twitter active" href="https://twitter.com/getIncented">
          </a>
        </div>
      </div>
      
    </div>
  </div>
</div>
